@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--source-serif-font), Georgia, serif;
}

/* Elements marked with serif class or font-serif will use Source Serif */
.font-serif,
.serif {
  font-family: ui-serif, var(--font-pt-serif), var(--font-noto-serif), Georgia,
    serif;
}

/* Elements marked with sans or font-sans will use Geist */
.font-sans,
.sans {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

.siren-gif {
  width: 2.6rem;
  height: 2.6rem;
  vertical-align: middle;
  display: inline-block;
  margin: 0 0.3rem;
}

.siren-gif:first-child {
  margin-left: 0;
}

.siren-gif-end {
  margin-left: 0.2rem;
}

.internship-title {
  color: #8b0000;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.005em;
  vertical-align: middle;
  display: inline-block;
}
